*.nc filter=lfs diff=lfs merge=lfs -text
results/definitive/full_outputs/inv_out_main.rda filter=lfs diff=lfs merge=lfs -text
results/definitive/full_outputs/inv_out_cenozoic.rda filter=lfs diff=lfs merge=lfs -text
